body {
    background-image: url("./images/banner.png");
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px;
    margin: auto;
    background-color: aquamarine;
    padding: 20px;
    border-radius: 10px;
    margin-top: 100px;
}

#titulo {
    text-align: center;
}

input {
    width: 100%;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#button {
    text-align: center;
}

button {
    padding: 5px;
}